<ion-view view-title="Delivery address">
    <ion-content>
        <ion-list>
            <form ng-submit="updateDeliveryAddress()" name="deliveryAddressForm">
                <label class="item item-input">
                    <input type="text" placeholder="First Name" ng-model="deliveryAddress.name" name="name" required>
                </label>
                <span ng-show="deliveryAddressForm.name.$touched && deliveryAddressForm.name.$invalid">This field is required</span>
                <label class="item item-input">
                    <input type="text" placeholder="Last Name" ng-model="deliveryAddress.surname" name="surname" required>
                </label>
                <span ng-show="deliveryAddressForm.surname.$touched && deliveryAddressForm.surname.$invalid">This field is required</span>
                <label class="item item-input">
                    <input type="text" placeholder="Address" ng-model="deliveryAddress.address" name="address" required>
                </label>
                <span ng-show="deliveryAddressForm.address.$touched && deliveryAddressForm.address.$invalid">This field is required</span>
                <label class="item item-input">
                    <input type="text" placeholder="Zip-Code" ng-model="deliveryAddress.zipCode" name="zipCode" required>
                </label>
                <span ng-show="deliveryAddressForm.zipCode.$touched && orderForm.zipCode.$invalid">This field is required</span>
                <label class="item item-input">
                    <input type="text" placeholder="Town" ng-model="deliveryAddress.town" name="town" required>
                </label>
                <span ng-show="deliveryAddressForm.town.$touched && deliveryAddressForm.town.$invalid">This field is required</span>

                <label class="item item-input" ng-init="phoneRegex = '\\d{9}$'">
                    <input ng-model="deliveryAddress.contactPhone" type="number" placeholder="Phone number" name="phone" ng-pattern="phoneRegex" min="0">
                </label>
                <span ng-show="deliveryAddressForm.phone.$touched && !deliveryAddressForm.phone.$dirty">Phone isn't required, but it helps delivery guy.</span>
                <span ng-show="deliveryAddressForm.phone.$touched && deliveryAddressForm.phone.$dirty && deliveryAddressForm.phone.$invalid">If you decided to give us your number, please make it correct or blank.</span>

                <label class="item">
                    <button class="button icon-center ion-log-in button-block button-positive" type="submit" ng-disabled="orderForm.$invalid"> Save delivery address</button>
                </label>
            </form>
        </ion-list>
    </ion-content>
</ion-view>