<ion-view view-title="Product">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                {{product.name}}
            </div>
            <div class="item item-text-wrap" id="mainPhoto">
                <img ng-if="product.images[0].imageSrc" ng-src="{{mainImageSrc}}" class="center" style="max-height:60vh; max-width:60vw;">
            </div>
            <div class="item item-divider" style="clear:both;">
                <h4 class="icon ion-images"> Gallery:</h4>
                <div ng-repeat="image in product.images track by $index" class="gallery">
                    <img class="bjtsicons" src="{{image.imageSrc}}" style="max-height:20vh; max-width:20vw; " ng-click="changePhoto($event)"/>
                </div>
            </div>
            <div class="item item-text-wrap">
                <h4 class="icon ion-document-text"> Description:</h4>
                <p>{{product.description}}</p>
            </div>
            <div class="item item-divider">
                <h4><ion-icon class="icon ion-ios-pricetags"></ion-icon> Price: {{product.price | number : 2}} {{priceCurrency}}</h4>
            </div>
            <div class="item item-text-wrap">
                <label class="item item-input">
                    <span class="input-label">Amount</span>
                    <input type="number" ng-model="cartCalcData.itemAmount" min="1">
                </label>
            </div>
            <div class="item item-divider">
                <h4><ion-icon class="icon ion-ios-pricetags"></ion-icon> Total cost: {{product.price * cartCalcData.itemAmount | number : 2}} {{priceCurrency}}</h4>
            </div>
        </div>

        
        <h4 style="clear:both; padding-top: 15px;">
        </h4>
    </ion-content>
    <div ng-show="backView.url === '/app/productslist'"ng-include src="'templates/shop/cart/cart-bottom-bar.html'"></div>
</ion-view>