@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
h1 {
    font-family: 'Open Sans', serif;
}
h4 {
    font-family: 'Roboto', serif;
}
.full-width {
    width: 100% !important;
}
/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    display: block;
    color: #D6CBC9;
    padding: 16px;
    text-decoration: none;
}
.main {
    margin-top: 70px !important;
}
.sortable {
    margin-top: 5px !important;
}
.separator {
    background-color: #333;
    width: 100%;
    height: 2px;
}

.removeButton {
    z-index: 1;
    position: relative;
    top: -95px;
    left: 75px;
    font-size: 25px;
}

.removePic {
position: relative;
top: -65px;
left:40px;
font-size:30px;
}