@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

h1 {
font-family: 'Open Sans', serif;
}

h4 {
font-family: 'Roboto', serif;
}

.full-width {
  width: 100% !important;
}