<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Login</h1>
        <div class="buttons">
            <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="loginService.hide()"> Back</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="loginService.login()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginService.credentials.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginService.credentials.password">
                </label>
                <label class="item">
                    <button class="button icon-center ion-log-in button-block button-positive" type="submit"> Log in</button>
                </label>
            </div>
        </form>
        <div class="card">
            <div class="item item-text-wrap">
                If you don't have account and you want to register, just click this button.
            </div>
            <button class="button icon-center ion-person-add button-block button-assertive" type="submit" ng-click="registerService.show()"> Register</button>
        </div>
    </ion-content>
</ion-modal-view>