<ion-modal-view ng-controller="CartCtrl">
    <ion-header-bar class="bar-dark">
        <h1 class="title">My cart</h1>
        <div class="buttons">
            <button class="button icon-left ion-chevron-left button-clear button-white" ng-click="hideCart()"> Back</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list show-delete="shouldShowDelete">
            <ion-item class="item item-thumbnail-left" ng-repeat="item in productslist">
                <img ng-if="item.product.images[0].imageSrc" ng-src="{{item.product.images[0].imageSrc}}">
                <h2>{{item.product.name}}</h2>
                <p>{{item.product.description}}</p>
                <p>Amount: {{item.amount}}</p>
                <p class="icon ion-ios-pricetags"> Total: {{item.price*item.amount}} {{priceCurrency}}</p>
                <ion-option-button class="button-positive" ng-click="share(item)">
                    Share
                </ion-option-button>
                <ion-option-button class="button-info" ng-click="editAmount = true">
                    Edit
                </ion-option-button>
                <label class="item item-input" ng-show="editAmount" ng-init="editAmount = false">
                    <span class="input-label">Amount</span>
                    <input type="number" ng-model="item.amount" min="1" ng-change="updateTotalCost($index); countItems($index); refresh();">
                </label>
                <ion-delete-button class="ion-minus-circled" ng-click="productslist.splice($index, 1);">
                </ion-delete-button>
            </ion-item>
        </ion-list>
        <ion-toggle ng-model="shouldShowDelete">
            Show Delete?
        </ion-toggle>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced">
        <div class="tabs tabs-icon-top">
            <a class="tab-item">
                <p><b>Total items:</b></p>
                <p font="size:10"><b>{{cartItemsAmount}}</b></p>
            </a>
            <a class="tab-item">
                <p><b>Total price:</b></p>
                <p font="size:10"><b>{{totalPrice}} $</b></p>
            </a>
            <a class="tab-item" ng-click="order()">
                <i class="icon ion-cash"></i> Go to payment
            </a>
        </div>
    </ion-footer-bar>
</ion-modal-view>