<ion-view view-title="Our products">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
                       on-refresh="refresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="product in productsList track by $index" href="#/app/product/{{product.id}}">
                <img ng-if="product.images[0].imageSrc" ng-src="{{product.images[0].imageSrc}}">
                <h2>{{product.name}}</h2>
                <p>{{product.description}}</p>
                <p class="icon ion-ios-pricetags"> {{product.price}} {{priceCurrency}}</p>
                <!--<ion-option-button class="button-positive"
                                   ng-click="share(item)">
                    Share
                </ion-option-button>
                <ion-option-button class="button-info"
                                   ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="items.splice($index, 1)">
                </ion-delete-button>-->
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()"
                             distance="1%"
                             ng-if="moreDataCanBeLoaded()">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-dark">
        <div class="buttons">
            <button class="button ion-bag button-clear button-white"> My bag</button>
        </div>
        <h6 class="title"></h6>
        <div class="buttons">
            <button class="button">Total items: {{cartItemsAmount}}</button>
        </div>
    </ion-footer-bar>
</ion-view>